/* -------------------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* Colors and font styles */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* -------------------------------------------------------------------------------------------------------------------- */
.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4em;
    padding-top: 20px;
    padding-bottom: 20px;
    /* Colors and font styles */
    background-color: #1f2937;
}

.logo {
    /* Center text/content vertically and horizontally */
    text-align: center;
    align-content: center;
    /* Colors and font styles */
    font-size: 24px;
    color: #f9faf8;
}

/* Links in a list on the top right corner */
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    /* Colors and font styles */
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* Colors and font styles */
    background-color: #1f2937;
    color: #e5e7eb;    
}
/* -------------------------------------------------------------------------------------------------------------------- */
.container-one {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* Colors and font styles */
    background-color: #1f2937;
}

.sub-container-one {
    max-width: 500px;
    flex-basis: 100%;
    text-align: left;
    align-content: center;
}

.text1 {
    /* Colors and font styles */
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.text2 {
    /* Colors and font styles */
    font-size: 18px;
    color: #e5e7eb;
}

.first-call {
    background-color: #3882f6;

    color: #f9faf8;
    font-weight: 900;
    font-size: 14px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-color: #3882f6;
    border-style: solid;
    border-radius: 5px;
}

.sub-container-image {
    min-height: 250px;
    max-width: 500px;
    flex-basis: 100%;
    text-align: center;
    align-content: center;
    /* Provisory */
    border: 4px;
    border-color: yellow;
    border-style: solid;
    color: #e5e7eb;
}
/* -------------------------------------------------------------------------------------------------------------------- */
.container-two {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-container-two {
    align-self: center;
    /* Colors and font styles */
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-container-two {
    align-self: center;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.card-one, .card-two, .card-three, .card-four {
    max-width: 150px;
    gap: 2em;
}

.picture-one, .picture-two, .picture-three, .picture-four {
    min-height: 150px;
    border-radius: 10px;
    /* Provisory */
    border: 4px;
    border-color: blue;
    border-style: solid;
}

.subtext-one, .subtext-two, .subtext-three, .subtext-four {
    text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------- */
.container-three {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* Colors and font styles */
    background-color: #e5e7eb;
}

.sub-container-three {
    max-width: 900px;
}

.text3 {
    padding: 0;
    margin: 0;
    /* Colors and font styles */
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.text4 {
    padding: 0;
    margin: 0; 
    font-weight: 900;
    text-align: right;
    /* Colors and font styles */
    font-size: 36px;
    color: #1f2937;
}
/* -------------------------------------------------------------------------------------------------------------------- */
.container-four {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sub-container-four {
    /* flex container which holds items 'sub-container-four-left' and 'last-call'*/
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 2em;
    flex-wrap: wrap;
    /* flex item which is held at the same time: flex-basis makes it take as much width as its container and max-width makes it stop growing up at 1000px */
    flex-basis: 100%;
    max-width: 1000px;
    justify-content: space-around;
    /* Colors and font styles */
    background-color: #3882f6;
    border-radius: 5px;
}

.text5 {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
}

.text6 {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #e5e7eb;
}

.last-call {
    align-self: center;
    background-color: #3882f6;

    color: #f9faf8;
    font-weight: 900;
    font-size: 14px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-color: #f9faf8;
    border-style: solid;
    border-radius: 5px;
}
/* -------------------------------------------------------------------------------------------------------------------- */